[2016-12-04 18:27] niccokunzmann opened #1 "Allow Python 2.6"
have a look for Python 2.6 support here: https://gist.github.com/niccokunzmann/6038331#gistcomment-1901386

[2016-12-04 18:28] niccokunzmann opened #2 ".travis.yml: test pyton versions"
test for the specified Python versions.

[2016-12-04 19:45] artemrizhov opened #3 "Push the source code"
Hi! Could you please push the source code to GitHub? The repo is almost empty for now.

[2016-12-04 22:03] niccokunzmann commented on #3
@artemrizhov Sorry, I forgot! Thanks for the notification. You can close it if you are satisfied.
By the way: I did not test the package, yet.

[2016-12-04 22:17] artemrizhov commented on #3
Thanks a lot!

[2016-12-04 22:17] #3 closed

[2016-12-04 22:30] niccokunzmann opened #4 "Use README.rst file"
The README.md file should be a README.rst file and in use fo rthe long description in the setup.py so it is used to display at pypi: https://pypi.python.org/pypi/hanging_threads

[2016-12-04 23:49] niccokunzmann opened #5 ".travis.yml: import and install"
travis should test if the module is installable

[2016-12-04 23:52] niccokunzmann opened #6 "add possible classifiers"
used for search

See a list here:
https://pypi.python.org/pypi?%3Aaction=list_classifiers

[2016-12-04 23:55] niccokunzmann opened #7 "Automatic upload on tag"
If a version is tagged, we can create an automatic upload.
See https://docs.travis-ci.com/user/deployment/pypi
I will add the username and password

[2016-12-08 08:12] niccokunzmann opened #13 "Start monitoring automatically?"
The only purpose of this module is to monitor and print.
We could start monitoring automatically

- for convenience/historical reasons
- because everybody will start monitoring nonetheless. We just remove one line.

@artemrizhov What do you think?
We could start monitoring and then allow parameters to be changed while it runs.
(And we can stop monitoring if it is a use-case)

[2016-12-08 13:36] artemrizhov commented on #13
Hi! Thanks for asking. I was thinking about this too, and finished with the following conclusion.

**Upsides:**
U1. We can start monitoring with just one import. This may be especially useful if you need to do this quickly when debugging the app. Looks like a resonable idea.
U2. Backward compatibility, if it's important.
(Is there anything else?)

**Downsides:**
D1. It probably does not conform th

[2016-12-24 11:31] niccokunzmann commented on #13
Okay, I agree, let us make it explicit.

[2016-12-24 11:32] niccokunzmann opened #15 "New version online"
There is a new version online: 1.0.0
What should be in the next version?

[2016-12-24 11:34] niccokunzmann opened #16 "Add pypi label"
There are badges/labels for the Pypi version.
We can add a pypi label: https://github.com/fossasia/kniteditor/#kniteditor

[2016-12-25 18:06] #1 closed

[2016-12-25 18:09] niccokunzmann commented on #1
Thanks @adazi !
https://gist.github.com/niccokunzmann/6038331#gistcomment-1901386

[2017-01-19 03:11] coffenbacher commented on #15
It would be cool to be able to specify certain threads as OK to hang, I have some threads that intentionally block for a while

[2017-01-19 04:22] artemrizhov commented on #15
Ignoring certain threads is what I've already started to work on! :) But
I'm still not sure what is the best way to do this. I'm going to do more
experiments.

чт, 19 янв 2017 г., 7:11 coffenbacher <notifications@github.com>:

[2017-01-19 15:15] niccokunzmann commented on #15
I ask myself the question: How would I like to use it?

This comes into my mind:

    t = Thread(...)
    hanging_threads.ignore(t)
    hanging_threads.ignore(t.name)

or

    def thread():
        hanging_threads.ignore()

What are your thoughts?

On 19.01.2017 05:22, Artem Rizhov wrote:

[2017-01-19 15:27] coffenbacher commented on #15
Looks good. Actually I'm not sure how to do exactly what I want, because
some of the threads I want to ignore are spawned by packages I'm using... I
haven't looked into how to get pointers to them.

On Thu, Jan 19, 2017 at 7:15 AM, Nicco Kunzmann <notifications@github.com>
wrote:

[2017-01-19 15:30] artemrizhov commented on #15
The problem is that such threads may be started automatically by
third-party modules. For example Django starts two threads for development
server. I'm trying to ignore the first started threads using timeout, but
this solution looks a bit hacky, and I'm  not sure I really want to ignore
those threads forever because they also potentially may hang.

[2017-01-19 15:30] niccokunzmann commented on #15
Without looking into how it should be implemented: How would you like to use it?

    import module
    hanging_threads.stop_monitoring(module)

How to use it is the first step: Specification first. If you can write an empty function with a good documentation, we can find a way to (test and) implement.

Threads are started by functions. They have code objects. There is a lot of information availab

[2017-01-19 15:36] artemrizhov commented on #15
Maybe we should ask ourself what problem we want to solve? Why we want to
ignore some threads?

[2017-01-19 16:10] coffenbacher commented on #15
Great point. My problem is that I start ~10 threads, each of which may
hang. However, those threads use libraries that spawn other threads
that *intentionally
*hang on time.sleep. So, perhaps a better solution for my scenario is not
ignoring threads but rather a whitelist of hang locations.

On Thu, Jan 19, 2017 at 7:36 AM, Artem Rizhov <notifications@github.com>
wrote:

[2017-01-19 17:01] artemrizhov commented on #15
Ok, so let them hang. This is not real problem because this is expected behaviour. What is the real problem with these sleeping threads? I mean, we should think why we are bothering about this at all.

[2017-01-19 19:01] coffenbacher commented on #15
Right, the sleeping threads are fine. It is the other threads that hang
unintentionally that are the problem, and unfortunately the error messages
from the sleeping threads swamp any information from the other ones.

I think a whitelist of files / lines to ignore would be sufficient for my
scenario. I'm not sure about other scenarios.

On Jan 19, 2017 9:02 AM, "Artem Rizhov" <notifications@github.

[2017-01-19 19:07] niccokunzmann commented on #15
How would you like to specify such a hang location?

    start_monitoring(condition=lambda stack:
stack.starts_in_module(__name__))

to only monitor threads from in the module or

    start_monitoring(condition=lambda stack: not
stack.has_call_to(time.sleep))

to not monitor time.sleep() ?

Which interface expresses most clearly what you would like to achieve?
What are your ideas?

On 19.01.2017 1

[2017-01-19 19:16] coffenbacher commented on #15
Good idea, maybe allow the user to pass a function / lambda that returns a
boolean based on whether the hang should be ignored.

Like this pseudocode (sorry on mobile, also don't exactly know what the
argument to the function would contain but something like this

def ignore(stack):
     if 'time.sleep' in str(stack.current_line):
           return True

hanging_threads.start_monitoring(whitelist_

[2017-01-19 20:00] niccokunzmann commented on #13
Can we close this? Is there anything else to be done?

[2017-01-19 20:46] artemrizhov commented on #15
So, this is the real problem, I guess. Maybe we can just get rid of this swamping messages?

My propositions:
1. Rewrite the logging algorithm so that it reports once when a thread hangs, and then reports once again when the thread awakes. This is done already in my branch, I just have to cleanup things and create a PR.
2. Add an option to ignore repeating hangs, so if a thread hangs on certain li

[2017-01-19 20:49] artemrizhov commented on #13
I think this can be closed.

[2017-01-19 21:00] artemrizhov opened #20 "The Travis CI badge is not working"
It says the build is faling. But if I click the badge then I see a [page](https://travis-ci.org/niccokunzmann/hanging_threads) that is saying "This is not an active repository"

[2017-01-19 21:02] artemrizhov commented on #20
@niccokunzmann I'm not sure what is the problem. You probably should know what is going wrong.

[2017-01-19 21:03] artemrizhov commented on #20
Oh, there are more texts below :)

[2017-01-19 21:28] coffenbacher commented on #15
Sure, those options would work for me as well

On Jan 19, 2017 12:46 PM, "Artem Rizhov" <notifications@github.com> wrote:

[2017-01-19 21:33] artemrizhov commented on #15
Ok, I'll prepare PR for the first part (which seems reasonable in any case), and then we will be able to implement the second one, if everybody agree. @niccokunzmann what do you think about this?

[2017-01-19 21:35] artemrizhov commented on #4
@niccokunzmann This issue probably should be closed, right?

[2017-01-19 21:48] artemrizhov opened #21 "Stop reccurring messages for hanging threads"
If a thread hangs, this incedente should be reported once only. If the hanging thread awakes, then this event should be logged too. No repeating messages should be logged in the interval between these two events.
This behaviour is proposed to solve the problem of swamping messages discussed in #15.

[2017-01-19 21:54] artemrizhov commented on #21
@niccokunzmann I propose to freeze the current set of features in branch `1.x` and make the master branch containing the newest features. It also may be a good idea to move the base work to branch `develop` to make the `master` branch containing latest working version of the lib.

[2017-01-19 22:04] artemrizhov commented on #15
@coffenbacher It also may be useful to add an option to ignore threads that hangs on `time.sleep` because this is a common case for the threads that we want to ignore. Not sure if this is a good idea to suppress any messages as soon as they are not annoying, so maybe this option is not really useful. Any suggestions?

[2017-01-19 22:41] #13 closed

[2017-01-19 22:42] niccokunzmann commented on #20
Seems like collaborators do not have admin rights.

[2017-01-19 22:46] niccokunzmann commented on #15
Sure, please go ahead.

[2017-01-19 23:41] niccokunzmann commented on #21
Sure, please go ahead.

[2017-01-19 23:49] niccokunzmann commented on #20
I think, I resolved the issue. Please check and close.

[2017-01-19 23:50] niccokunzmann commented on #4
@artemrizhov sure, please close if you feel like it.

[2017-01-19 23:50] #4 closed

[2017-01-19 23:52] niccokunzmann commented on #15
@coffenbacher Would you like to create a pull-request with the documentation for the functionality which you would like to use?

[2017-01-19 23:58] niccokunzmann opened #23 "Remove License from module doc string"
The license lines start with `#` and they are in the doc string. It should be either of those. Since the license may not be important in `help()`, we can make it a comment.

[2017-01-19 23:59] #16 closed

[2017-01-20 07:58] wsw70 opened #25 "is seconds_frozen always taken into account?"
I have a program with multiple threads, each of them being a `while True: (...) time.sleep(x)` loop. I have set `seconds_frozen` to a value higher than the longest `sleep` but still get dumps from `hanging_threads`,  for example:

[code]

In the case above, `sleeptime` is `10` and `hanging_threads` was initialized with

[code]

Is there something else I should do?

[2017-01-20 08:30] #23 closed

[2017-01-20 08:30] niccokunzmann commented on #23
Thanks @MarkoMackic

[2017-01-20 08:40] niccokunzmann commented on #25
Hi, can you show the code?

If there is something like

    while 1:
        time.sleep(...)

I can understand that behavior as it looks  every second (in your case) if the thread has the same stacktrace.

Also, in #15 @coffenbacher proposed that nobody likes to see the `time.sleep` as it is not really a deadlock. We want to make it possible to remove the `time.sleep` and other calls. If you like,

[2017-01-20 08:49] niccokunzmann opened #26 "Deploy Process"
How would we like deploying to work?

I could image:

1. We create a tag and it pushes the release #7
2. Every commit in the master branch pushes the package with an increasing version number to pypi.

(1) is already implemented [here](https://github.com/fossasia/knittingpattern/blob/master/.travis.yml) but requires extra effort
(2) allows just a new upload by merging and is very convenient. It al

[2017-01-20 08:56] niccokunzmann opened #27 "Document what the functions do"
We have some functions there. In order for other people to use them they should have some documentation.

- [x] functions in the module
- [ ] StoppableThread
  - [ ] short description first line, long description 3rd line, ++
  - [ ] stop function
  - [ ] is_stopped

[2017-01-20 08:58] niccokunzmann opened #28 "add __all__ variable"
There should be a variable named `__all__` which contains only the functions which are useful.
This is needed when doing `from hanging_threads import *` - then, you would only like to import these functions.

- add `__all__` variable
- decide which functions are most important and which should be hidden.

[2017-01-20 09:14] MarkoMackic commented on #27
How would you document them ? in separate doc file, or directly in code ?

[2017-01-20 09:56] niccokunzmann commented on #27
I would use strings directly in the code.

[2017-01-20 12:41] wsw70 commented on #25
@niccokunzmann : I am not sure if I got the concept of the module right, but I expected that the code below:

[code]

would monitor if the thread has not been inactive for 10 seconds (`seconds_frozen=10`), checking once every second (`tests_per_second=1`, which seems to be the minimum possible rate (?)).

What I get when running it is

[code]

--> which is a behaviour I do not understand: the thre

[2017-01-20 13:46] niccokunzmann commented on #25
Thanks for the code. So: the reason is: it checks every second if the thread is at the same location and it is:

    time.sleep(5)

If you do

    time.sleep(2)
    time.sleep(3)

The message should go away.

To implementation: If we check if the loop continues/the thread stack changes, we would need to get notified by Python if interpretation goes on. This may require (I believe) executing Python

[2017-01-21 08:01] niccokunzmann commented on #27
@MarkoMackic #29 Please reference the issues, so we see updates here, too.

[2017-01-21 08:02] niccokunzmann commented on #27
Thanks for your code. It looks much better.

[2017-01-21 08:49] #5 closed

[2017-01-21 08:49] #2 closed

[2017-01-21 08:51] artemrizhov opened #30 "Create 1.x and develop branch"

[2017-01-21 08:53] artemrizhov commented on #20
It works now!

[2017-01-21 08:53] #20 closed

[2017-01-21 08:59] artemrizhov commented on #26
In case of (2) there probably should be a process that increases the version number and does the commit with this version. And we will have a lot of such commits in the git log. I think it's better to use tags. It should not be too hard to create new tag, but you will have ability to control the deployment process.

[2017-01-21 09:06] artemrizhov commented on #28
It seems that only `start_monitoring()` is really needed in most cases, so I'm not sure if `from hanging_threads import *` makes any sence. It's better to use explicit import for single function: `from hanging_threads import start_monitoring`. Can you imagine a use case for `import *`?

[2017-01-21 09:11] artemrizhov commented on #25
@niccokunzmann Is there any information in the stack trace that can be used to avoid such problems? Maybe it provides some time stamp or unique id of the frame?

[2017-01-21 09:14] artemrizhov opened #31 "Add ability to ignore repeating hangs"
Add an option to ignore repeating hangs, so if a thread hangs on certain line and then awakes, then hanging on this line will not be considered as hangs anymore.

[2017-01-21 09:16] artemrizhov commented on #25
@wsw70 In any case the problem should be reduced when #21 and #31 are implemented.

[2017-01-21 09:22] artemrizhov commented on #15
I've added #21 and #31, but still not sure if it makes sense to ignore `time.sleep`. One may get hanging threads because of `sleep` forgotten after debugging, or because of too large sleep time. So this function also may be a cause of hanging threads.

[2017-01-21 14:16] artemrizhov commented on #30
@niccokunzmann I've created branches `develop` and `v1.x`.

[2017-01-21 14:19] artemrizhov commented on #26
Actually second method may work too since we've moved work to the develop branch in #30. I'm just not sure how would you control minor/major version change.

[2017-01-21 14:27] artemrizhov opened #32 "Fix supported Python versions"
Travis CI is configured to check hanging_threads against Python 2.6-3.6. However setup.py claims it also supports 2.3 and 2.4. What versions are really should be supported?

If you ask me then I'd propose to drop support of any version below 2.6 because of incompatibilities in the threading module. I'm just not sure it makes sense to support such compatibility.

[2017-01-21 14:58] artemrizhov opened #33 "Replace tests_per_second with test_interval"
Every time I'm looking on this option I do convertation from interval to frequency and vise versa. I think this is probably because intervals are widely used in programming. Also I have to pass fractional values when I want the check to happen once per two seconds or more.

For this specific task I think interval is more convenient because it is easy to compare interval with hanging time, while it

[2017-01-21 14:58] artemrizhov commented on #33
@niccokunzmann What is your opinion about this?

[2017-01-21 16:43] niccokunzmann commented on #30
Okay.

[2017-01-21 16:52] niccokunzmann commented on #33
Sure, let's do this. I think it is important to document the unit: seconds or milliseconds.

[2017-01-21 16:54] niccokunzmann commented on #32
I think, 2.3 and 2.4 and 2.5 can be dropped until someone likes to take this on.
2.7 is still supported. 2.6 was added because of https://gist.github.com/niccokunzmann/6038331#gistcomment-1901386

[2017-01-21 17:01] #30 closed

[2017-01-21 17:09] niccokunzmann commented on #26
Proposal:

- We work on some branch e.g.  `fix-bug-xy` [Responsibility: Developer]
- There is a branch for releases of a certain version e.g. `2.1` [Responsibility: Developer]
- Every commit in the `2.1` branch gets a tag with increasing version number: `2.1.1`, `2.1.2`, `2.1.3`, ... [Responsibility: Travis]
- Every tag has the string behind the `__version__ = "..."` with the actual version number

[2017-01-21 18:08] artemrizhov commented on #26
Sounds well. This probably should work.

[2017-01-21 18:10] artemrizhov commented on #26
What about `master` vs `develop`? What workflow for these branches do you assume?

[2017-01-21 18:36] niccokunzmann commented on #26
They could be deleted I have no purpose for them. I do not know. Maybe, we need develop. Master would be the version we work on.

What I like about this is: if we get a pull-request, we can merge it and within minutes the person can pip install the latest version from pypi. That should be totally encouraging to contribute.

[2017-01-21 18:55] artemrizhov commented on #26
I think at least master should remain, so that anybody can checkout latest stable version. Also I think that any changes should be tested before they are pushed to master or version branch. This is why develop is used usually.

[2017-01-21 18:58] artemrizhov commented on #26
By the way, it is possible to pip install directly from public git repo.

[2017-01-21 19:17] niccokunzmann commented on #26
@artemrizhov I added a summary. Can you check?

In the settings, we can change the branch but it is not recommended. So, it should stay the same.

![image](https://cloud.githubusercontent.com/assets/564768/22177001/0df3a192-e016-11e6-9387-53060d0f06f1.png)

Maybe we merge master into the latest version branch from time to time - they are the 'deploy' or 'production' branches. If you like to have a

[2017-01-21 19:31] niccokunzmann commented on #25
Maybe there is: f.f_trace - tracing function for this frame, or None [source](https://docs.python.org/2/library/inspect.html)

So: We can create a kind of monitoring where we check if an instruction is executed.

If I am concerned about performance: It can be switched on when we assume a thread hangs and then we see if it is such a loop.
What is to be discussed:

- A while loop can make a GUI unre

[2017-01-21 19:51] niccokunzmann opened #35 "Deploy Windows Installers to pypi"
It is possible to create windows installers for the module on pypi.
Therefore, we can upload them when a tag is created.

Hints:
- We can use appveyor for this.
- [Related work](https://github.com/fossasia/knittingpattern/blob/master/appveyor.yml) [pypi](https://pypi.python.org/pypi/knittingpattern/0.1.19)

[2017-01-21 20:35] artemrizhov commented on #26
Well, the overall idea looks good. Are you going to add support of automatic "→ tag → upload to pypi"?

It seems the develop branch is excess for this project, so working on master probably would be fine.

[2017-01-21 20:48] artemrizhov commented on #25
@niccokunzmann Good point. If so, I propose to leave this as is. Once possible hanging thread is detected, developer should be smart enough to understand if he is interesting in this certain case or not. False reports should not be a big problem once #21 and #31 are implemented. If this will be a problem afterwards then I'd like to get some explanation why this is a problem to help us find the bes

[2017-01-21 20:51] niccokunzmann commented on #26
@artemrizhov #34 is the part tag → upload to pypi the other point comes in an other PR.
You can merge.

[2017-01-21 21:47] #21 closed

[2017-01-21 21:58] niccokunzmann commented on #15
If there are a lot of prints, it could be good to have an option to ignore time.sleep in the future.

[2017-01-21 22:18] artemrizhov opened #39 "Remove the develop branch"
Please remove branch `develop` as we agreed in #26.

[2017-01-21 22:23] artemrizhov opened #40 "Refactor monitor function"
It became too huge and probably should be rewritten with FP or OOP.

https://github.com/niccokunzmann/hanging_threads/blob/15941c4e36fb73919f3861ca037c13a218e8a509/hanging_threads.py#L70-L117

[2017-01-21 22:27] artemrizhov opened #41 "Write tests"
We definitely need tests for this lib. However I'm not sure what is the best way to test it. The tests probably should use some multithreaded approach.

[2017-01-21 22:54] artemrizhov commented on #7
It works!
https://github.com/niccokunzmann/hanging_threads/releases
https://pypi.python.org/pypi/hanging_threads

[2017-01-21 22:54] #7 closed

[2017-01-21 22:58] artemrizhov commented on #25
@niccokunzmann I think the issue label should be changed from "bug" to "question", because this is not a bug but a feature. :)

@wsw70 New version v2.0.0 contains feature #21. Could you please try it and tell us how it works for you?

[2017-01-21 23:46] MarkoMackic commented on #33
I think it's generally better to use milliseconds as unit or should we support unit to be changed ?  I'll reference this now

[2017-01-22 07:22] niccokunzmann opened #45 "Create tests"
Somehow, we need to rewrite everything to be nicely testable. To create tests

- [ ] choose a test framework (unittest/nosetest/pytest)
- [ ] create a folder with some tests
- [ ] make travis execute the tests and fail if they fail
- [ ] for a new version: ship the folder of the module with example and the tests together in the source code - we want to be able to run the tests in production system

[2017-01-22 07:27] niccokunzmann commented on #41
Hi, I did not read your issue but created a new one:  #45 I am closing this. Feel free to edit #45 or reopen.

[2017-01-22 07:27] #41 closed

[2017-01-22 09:29] #39 closed

[2017-01-22 09:29] niccokunzmann commented on #26
I am working on branch v0.0 to test it.

TODO:
- [x] check that the `__version__` does not start with 'v'
- [x] make it work on travis who has different variables and checks out commits and not branches.

[2017-01-22 09:31] niccokunzmann commented on #33
All is fine. I think, we can close this. If I forgot something, please re-open!

[2017-01-22 09:31] #33 closed

[2017-01-22 17:13] MarkoMackic commented on #27
This can be closed I think.

[2017-01-22 17:34] artemrizhov commented on #32
This should be fixed in v1.1 and then merged to master.

[2017-01-22 17:44] artemrizhov opened #48 "Choose limit for line length and reformat the code"
PEP8 [recommends](https://www.python.org/dev/peps/pep-0008/#maximum-line-length) to limit all lines to a maximum of 79 characters. While I was trying to follow PEP8, new commits break this rule:

- https://github.com/niccokunzmann/hanging_threads/blob/daa569e2f6ec06f98ae2d452d77de0f958a5f0d4/hanging_threads.py#L8
- https://github.com/niccokunzmann/hanging_threads/blob/daa569e2f6ec06f98ae2d452d77de

[2017-01-22 17:44] artemrizhov commented on #48
@niccokunzmann What are your thoughts?

[2017-01-22 17:49] artemrizhov commented on #48
PEP 8 about comments:

[2017-01-22 19:20] #27 closed

[2017-01-22 19:22] niccokunzmann commented on #48
We can create a pep8 check, use pep8 or flakes and make travis run tests so we see when pep8 is violated. This also generates easy-to-solve issues for new contributors. There is also landscape - a service showing code quality. If we connect landscape, we have a nice UI for the style errors.

[2017-01-22 19:57] MarkoMackic commented on #48
Resolving current PEP8 line lenght problems.

[2017-01-22 19:59] MarkoMackic commented on #45
Any opinion how to do tests ?

[2017-01-22 20:19] artemrizhov commented on #48
@MarkoMackic Is there any reason you add blank line before closing `"""`?

[2017-01-22 20:23] artemrizhov commented on #45
I think the test should test the lib itself, not it's internal interfaces. I.e. it should monitor the monitor, create hanging threads and check the logged messages.

[2017-01-22 20:28] artemrizhov commented on #45
Any framework will work for this simple task, I think. However it would be nice if the framework supports mocking. For example we can mock the `write_log()` function to check if it writes correct messages.

[2017-01-22 21:33] niccokunzmann commented on #26
So, the deployment process is done. I will create a pull-request with additional infomration.

[2017-01-22 22:02] niccokunzmann commented on #45
Here is an example of how I created automatic tests: https://github.com/fossasia/knittingpattern
There are a lot of other possibilities for Python modules. e.g. for libraries like Pillow, bottle, ...

[2017-01-23 18:36] artemrizhov commented on #48
So we desided to follow PEP 8 recommendations about the line leghts.
I think this issue may be closed. I'll create new issue for automated pep8 check.

[2017-01-23 18:36] #48 closed

[2017-01-23 18:38] artemrizhov opened #57 "Automated pep8 check"
@niccokunzmann wrote in #48:

[2017-01-23 19:13] #26 closed

[2017-01-23 19:14] artemrizhov opened #58 "Convert developing.md to developing.rst"

[2017-01-23 19:18] niccokunzmann opened #59 "Create docs folder"
The documentation of the module should be in the docs folder.
- [ ] developing.md is one part of the documentation. Let's move it there.
- [ ] there should be a README.md

[2017-01-23 19:21] artemrizhov commented on #59
Not sure about README. The root of the project is a good place for README so that anybody can find and read it.
Also I'm not sure the README file will be found by GitHub if it is in a subfolder.

[2017-01-23 19:21] niccokunzmann opened #60 "Where to serve docs?"
Docs can be

- uploaded to pypi
- served by readthedocs
- in the docs folder and that's enough #59
- serve the docs as a jekyll site

Any thoughts? We can use the first-implemented makes it approach.

[2017-01-23 19:22] niccokunzmann commented on #59
If you are not sure, what do you suggest to remove the uncertainty? We can try it out.

[2017-01-23 19:25] artemrizhov commented on #60
I think the simplest method is the best one for this small library. There is no so many information to create multipage documentation. So the docs folder and the README file is the best choice.

[2017-01-23 19:30] artemrizhov commented on #59
Sure we can try it out with GitHub. But it's hard to try it out with developers and users. We probably will never know if one will get some difficulties while searching for the README. So I'd leave README in the root as it do a lot of another developers (if not all of them).

[2017-01-23 19:34] niccokunzmann opened #61 "Make 2.x and 1.x be deploy branches"
#26 introduces #56 - the deployment functionality for branches.

Let's rename them the branches:

- [x] 2.x -> 2.0
  - [x] merge master into 2.0
- [x] 1.x -> 1.1
  - [x] cherry-pick #56 into 1.1
- [x] merge 1.1 into master

What are your thoughts? @artemrizhov

[2017-01-23 19:35] niccokunzmann commented on #59
I did not mean to move the README.rst to the docs folder. There should be a new README.rst in the docs folder to give the overview over the different docs files in the docs folder. If you look at the docs folder from the github site, then you see the README in the folder and what docs are available.

[2017-01-23 19:38] artemrizhov commented on #59
Oh, if so then it probably should be index.rst. This seems traditional for the rst documentation index file. Maybe I'm wrong, then correct me please.

[2017-01-23 19:40] niccokunzmann commented on #59
Sounds good. Changed it :)

[2017-01-23 19:48] artemrizhov commented on #59
However, I'm not sure GitHub can render index.rst by default. I'm also not sure index.rst makes sense for GitHub because it will probably fail on rendering cross-links in the rst format, so we will have to use plain http links. Finally, if you want to make all the documentation accessible on GitHub then it is probably better to add direct links to those pages just in the README in the root folder.

[2017-01-23 19:52] niccokunzmann commented on #59
So be it.

[2017-01-23 19:56] artemrizhov commented on #61
No problems. I'd just avoid cherry-picking because this will produce conflicts. You will not be able to merge same changes to both branches.

If you want to add some feature both to 1.x and 2.x then it's better to start the branch from 1.x and then merge both into 1.x and 2.x, or merge into 1.x then merge 1.x into 2.x if there is no conflicts yet.

Since you have already merged #56 into master, it

[2017-01-23 19:59] niccokunzmann commented on #61
I removed the protection of the master branch. You can do this.
Other idea:

If we add the pick to 1.1 #61 and I remove the merge conflicts for merging 1.1 into master, would this also work for future changes?

[2017-01-23 20:03] artemrizhov commented on #61
I don't have rights to push into your repo. You can do this by executing following commands:
$ git checkout master
$ git reset --hard bca4679
$ git push origin --force

[2017-01-23 20:05] artemrizhov commented on #61
I'd avoid such tricks because I don't know git on such low level, but I've got a lot of problems with history when doing strange things before. :)

[2017-01-23 20:14] niccokunzmann commented on #61
did the force reset

[2017-01-23 20:14] artemrizhov commented on #61
Ok. I'm rebasing the branch onto 1.x now.

[2017-01-23 20:15] niccokunzmann commented on #61
have a look at #62 Would it be the next step to merge this?

[2017-01-23 20:15] artemrizhov commented on #61
Oh, you cherry picked it already. So we can merge it anywhere now. :)

[2017-01-23 20:16] niccokunzmann commented on #61
Can you merge this?

[2017-01-23 20:17] artemrizhov commented on #61
Hm.. I've merged it, but that was not 1.x, but 1.1 wich is detached again.

[2017-01-23 20:19] artemrizhov commented on #61
We probably need to hard reset 1.1 to v1.x and then merge add-deploy-to-1.1 again.

[2017-01-23 20:19] niccokunzmann commented on #61
1.1 and 1.x have been the same.

Are these the next steps from your perspective?

- delete 1.x
- delete 2.x
- merge 1.1 into master

[2017-01-23 20:21] artemrizhov commented on #61
It looks like the 1.1 branch was behind the v1.x branch. Please see the [graph](https://github.com/niccokunzmann/hanging_threads/network). This is my fault, I have had to check this before accepting PR :)

[2017-01-23 20:21] niccokunzmann commented on #61
Can we just merge #64? This would update it from my perspective.

[2017-01-23 20:23] artemrizhov commented on #61
Yes, we can if you are ok with such complicated history :)

[2017-01-23 20:24] niccokunzmann commented on #61
Yes. It will be forgotten soon.

[2017-01-23 20:32] artemrizhov commented on #61
Oh no. We've merged master into 1.1 somehow :-\ I'm always confused with "base" and "compare" when creating new PR. It should be named "from" and "to".

[2017-01-23 20:35] artemrizhov commented on #61
@niccokunzmann Could you please hard reset 1.1 to db340d4960c2541e660da22ae1d11b5649870f22 ?

[2017-01-23 20:39] artemrizhov commented on #61
Btw, this merge have not produced new version on [pypi](https://pypi.python.org/pypi/hanging_threads). I thought it should be created automatically now.

[2017-01-23 20:51] niccokunzmann commented on #61
yes, I also think that. Let's merge eachother's pull-requests and never merge own pull-requests.

[2017-01-23 20:53] niccokunzmann commented on #61
I will revert your merge, ok?

[2017-01-23 20:56] niccokunzmann commented on #61
I found the mistake: the branches should be named "v1.1" and "v2.0". I will change this, now.
I also created the branch "v1.1".

[2017-01-23 21:02] artemrizhov commented on #61
Hm, I beleave I did not merge my PR this time. I just created it, but now I even can't find it for some reason. It's gone.

[2017-01-23 21:03] niccokunzmann commented on #61
^^ I know the mistake!

[2017-01-23 21:03] niccokunzmann commented on #61
It was mine: I merged master into this branch.

[2017-01-23 21:04] niccokunzmann commented on #61
I will see if I can create a PR that works without merging master into v1.1.
Sorry for the assumption you had something to do with it.

[2017-01-23 21:05] artemrizhov commented on #61
Ooops! You did this again! You merged master into v1.1

[2017-01-23 21:06] artemrizhov commented on #61
And now you have 1.1.1 with features from 2.x :)

[2017-01-23 21:07] niccokunzmann commented on #61
-.- yes . I will try again ! :)

[2017-01-23 21:07] artemrizhov commented on #61
:-D

[2017-01-23 21:08] artemrizhov commented on #61
Don't forget to remove wrong versions from https://pypi.python.org/pypi/hanging_threads

[2017-01-23 21:08] niccokunzmann commented on #61
Did it.

[2017-01-23 21:09] niccokunzmann commented on #61
![image](https://cloud.githubusercontent.com/assets/564768/22222801/8d725f00-e1b8-11e6-9e70-8f87dcd8d714.png)

[2017-01-23 21:10] artemrizhov commented on #61
Do you think 1.1.0 is also wrong?

[2017-01-23 21:11] niccokunzmann commented on #61
It probably is not.

[2017-01-23 21:12] niccokunzmann commented on #61
This time, it should probably work.

[2017-01-23 21:13] niccokunzmann commented on #61
I also protected the deploy branches:

![image](https://cloud.githubusercontent.com/assets/564768/22222913/24c68b10-e1b9-11e6-948e-b2e8c51192a1.png)

[2017-01-23 21:18] artemrizhov commented on #61
Ok, the merges and diffs look fine now.

[2017-01-23 21:22] artemrizhov commented on #61
The last thing is to implement a script that will compile and publish [release notes](https://github.com/niccokunzmann/hanging_threads/releases) :)

[2017-01-23 21:22] niccokunzmann commented on #61
Thanks for your support! I am closing this and will create issues from what I learned.

[2017-01-23 21:22] #61 closed

[2017-01-23 21:24] niccokunzmann opened #69 "remove "v" from __version__"
See [here](https://github.com/niccokunzmann/hanging_threads/blob/v1.1.0/hanging_threads.py#L32):

The `__version__` variable has a "v" in the beginning. All works fine. setup.py is also fine.
Is this a problem in any case? Should the "v" be removed?

[2017-01-23 21:29] artemrizhov commented on #69
[PEP 0396](https://www.python.org/dev/peps/pep-0396/):

[PEP 0386](https://www.python.org/dev/peps/pep-0386/):

[2017-01-23 21:38] niccokunzmann commented on #69
This is the line to change: https://github.com/niccokunzmann/hanging_threads/blob/v2.0.1/create-tag-on-deploy-branch.sh#L67

[2017-01-23 21:39] niccokunzmann commented on #69
I will work on it, so we can deploy happily ever after.

[2017-01-23 21:47] niccokunzmann commented on #60
#59 is the way to go, then.

[2017-01-23 21:47] #60 closed

[2017-01-23 21:51] #69 closed

[2017-01-23 21:58] artemrizhov commented on #69
@niccokunzmann Why does Trevis commit version into git? Is this really needed to build the package?

[2017-01-23 22:06] niccokunzmann commented on #69
My idea was that the tag represents the exact source code of the package uploaded to pypi. You can create an issue to discuss this.

[2017-01-23 22:30] artemrizhov commented on #69
Nice idea!

[2017-01-24 09:52] niccokunzmann opened #74 "README.md does not match API"
We changed the interface but not the documentation.

- https://github.com/niccokunzmann/hanging_threads#usage
- https://github.com/niccokunzmann/hanging_threads/blob/master/hanging_threads.py#L52

[2017-01-26 20:33] MarkoMackic commented on #28
My opinion is  that `__all__` isn't needed currently.

[2017-01-26 20:41] MarkoMackic commented on #74
I'll fix the docs.

[2017-01-27 00:23] #28 closed

[2017-01-27 00:24] #74 closed

[2017-01-27 10:38] niccokunzmann opened #77 "New Maintainer"
@MarkoMackic You contributed to the repository and so, I give you permission to maintain it.
The idea: When people would like to contribute, we want to be responsive and merge their pull-requests fast, so that they continue to improve the repository.

What you can do additionally from now on:
- merge pull-requests

What you can do but should not:
- push directly to `master`/deploy branches like `v

[2017-01-27 21:09] MarkoMackic commented on #77
Thanks a lot :)

[2017-01-27 22:07] artemrizhov commented on #77
@MarkoMackic Congratunaltions!

@niccokunzmann I'm not sure if it makes sense to merge any PR asap. If a PR contains some bug fix then it makes sense. Otherwise it probably should be strongly reviewed by all contributors :)

[2017-01-28 09:38] #32 closed

[2017-01-28 09:47] niccokunzmann commented on #77
I found [this](http://hintjens.com/blog:106) and  [this](https://www.youtube.com/watch?v=uj-li0LO_2g) and saw it works, too if we welcome the person and the code. They are more willing to fix their issue and those of other people when they do not get a guilty by default review.

Also: if we have one version on pypi with the feature the person needs and it is taken out in the future, it is of help

[2017-01-28 10:04] niccokunzmann opened #80 "Improve test_interval documentation"
In #76, we can see that the wording for the documentation concerning the test_interval parameter can be changed to be more understandable.

[2017-01-29 01:13] MarkoMackic commented on #80
I don't know how to form it concisely, maybe
`Checks are done in intervals of 100 ms` <- using word interval will be self explanatory in terms of parameter name

[2017-01-29 19:50] artemrizhov commented on #77
@niccokunzmann Ok, this is your repo, and this is your choice.

[2017-01-29 23:01] MarkoMackic commented on #80
I issued a  pull request for v2.0, this can now be closed  ?

[2017-01-29 23:02] niccokunzmann commented on #80
@artemrizhov Would you close this?

[2017-01-30 16:42] artemrizhov commented on #80
I feel like there are too many phrases about the interval:
1. This mean the check will happen 10 times per second.
2. This happens again every 10 seconds
3. Checks are done in intervals of 100ms.

[2017-01-30 17:05] MarkoMackic commented on #80
I don't know, whatever you agree on, I'll correct.

[2017-01-30 22:13] niccokunzmann commented on #80
I am grateful for that @MarkoMackic wants to help.
I am also grateful that @artemrizhov wants to help.

What I observe is:
- We have been working on this issue for [three days](https://github.com/niccokunzmann/hanging_threads/pull/76#pullrequestreview-18939289).
- Other changes do not ship.
![image](https://cloud.githubusercontent.com/assets/564768/22443349/e711bd7c-e73e-11e6-978c-538a7bae9c43.png

[2017-01-31 10:52] niccokunzmann opened #84 "Remove import"
It is possible to remove the import of the module.
I found a solution here: https://github.com/detectlanguage/detectlanguage-python/blob/master/setup.py#L9

[2017-02-02 11:27] artemrizhov commented on #80
It probably was open for three days, but I beliave nobody was working on it all those days. I think this is important to distiguish "open" and "in work".

This is almost true. I just proposed to change the text because I don't like the final version.

I don't feel any motivation since the changes are merged already. Obsolete documentation was really motivating. But now it is fixed and merged, so t

[2017-02-07 14:15] artemrizhov commented on #80
It seems that changes are stuck and nobody want to say the final words. I think this issue should be closed as is, because there is no any sense to keep this ticket open. If you think it should not then please reopen.

[2017-02-07 14:15] #80 closed

[2019-10-03 17:26] davidparks21 opened #88 "Exception: KeyError: 140058396972800"
I'm getting the following exception consistently from hanging_threads:

[code]

When I look at that code and run the following two commands I get some odd results:

[code]

The first one is derived from the hanging_threads code using `sys._current_frames()`, in that output the `thread_id` for one or two of the entries is changing every time I run that command while in a debugging session. This app

[2019-11-22 08:47] niccokunzmann commented on #88
I would think, go for experimentation with `threading.enumerate()`.
It might be that the thread is deleted very fast. `threading.enumerate()` should be the save option.

[2020-02-19 23:49] remdragon opened #89 "race condition fix"
get_current_frames() can crash because the list of active threads can change between calling threading.enumerate() and later sys._current_frames()

Following is one way to refactor to avoid that crash. Basically, the thread has to exist in both sets of data to qualify to be returned from the function

[code]

[2020-02-19 23:51] remdragon commented on #88
This is not a bug in Python. It is a race condition trying to compare threads between the output sys._current_frames() vs threading.enumerate(). If a thread exits in between the two calls, you get the crash. I submitted issue #89 with a rewrite of get_current_frames() that fixes the crash. Sorry I don't have the time to create a PR right now.

[2020-02-20 03:26] remdragon commented on #25
There's a somewhat simple but dirty way to fix this problem.

All you have to do is monkey-patch time.sleep() to flag that thread as unhangable and when the original time.sleep returns, you reset the thread's status, something like this:

[code]

[2020-09-10 20:39] luckydonald commented on #84
That's very nifty.

[2022-05-19 16:00] dima74 opened #90 "TypeError: '<=' not supported between instances of 'int' and 'NoneType'"
Python 3.10, hanging_threads-2.0.5

[code]

[2022-05-20 05:11] niccokunzmann commented on #90
Thanks for reporting!

[2022-08-23 18:22] TheLizzard commented on #90
I believe that this happens when python code execution goes into C code in libraries - in my case [pillow](https://pillow.readthedocs.io/en/stable/).

Adding `if lineno is None: lineno = -1` in `frame2string` in `hanging_threads.py` should fix the problem. It doesn't raise an error as `linecache` just returns an empty string if the `lineno` is less than 1.

[2022-08-26 15:50] niccokunzmann commented on #90
Thanks for looking into that. Would you like to create a pull request?